*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.header{
    width: 100%;
    height: 9%;
    top: 0;
    left: 0;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.spotify-icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}
.spotify-icon img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.home-icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #302f2f;
    margin-left: 1.5rem;
}
.home-icon1{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box{
    width: 480px;
    height: 45px;
    margin-left: 0.5rem;
    border: none;
    outline: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: #302f2f;
}
.border1:hover{
    background-color: #292929;
    /* transform: scale(1.1); */
}
.search-icon i{
    margin-left: 0.6rem;
    font-size: 25px;
    color: rgb(189, 188, 188);
}
h4{
    margin-left: 1.5rem;
    color: rgb(189, 188, 188);
    margin-right: 10px;
}
.ctrl{
    width: 40px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.ctrl p{
    color: rgb(189, 188, 188);
}
.key{
    width: 20px;
    height: 25px;
    margin-left: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.key p{
    color: rgb(189, 188, 188);
}
.mix2{
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}
.line{
    width: 1px;
    height: 30px;
    background-color: rgb(189, 188, 188);
    margin-right: 15px;
}

.loker{
    color: rgb(189, 188, 188);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loker i{
    font-size:larger;
}

#text{
    color: #444444;
    display: flex;
    text-align: center;
    margin-left: 180px;
}
#text h3{
    margin-left: 8px;
}
#text h3:hover{
    color: white;
}
.premium{
    width: 150px;
    height: 35px;
    margin-left: 0.5rem;
    border: none;
    outline: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-weight: 600;
    margin-left: 350px;
    transition: transform 0.1s ease-in-out;
}
.premium:hover{
    transform: scale(1.1);
}
.install{
    color: #B3B3B3;
    display: flex;
    margin-left: 2rem;
    transition: transform 0.1s ease-in-out;
}
.download{
    transition: transform 0.1s ease-in-out;
}
.download i{
    margin-right: 8px;
}
.install p{
    font-size:small;
    font-weight: 700;
}
.bell{
    color: #B3B3B3;
    margin-left: 30px;
    transition: transform 0.1s ease-in-out;
}
.id{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 30px;
    transition: transform 0.1s ease-in-out;
}
.id img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hovver:hover{
    transform: scale(1.1);
    color: #ffffff;
}
.sidebar{
    width: 28%;
    height: 78%;
    top: 9%;
    left: 0;
    background-color: #121212;
    margin-left: 9px;
    margin-top: 6px;
    margin-right: 4px;
    position: fixed;
    border-radius: 10px;
}
.icon3{
    display: flex;
    color: #B3B3B3;
    padding: 25px;
}
.library{
    display: flex;
    font-size: larger;
    font-weight: bold;
}
.library i{
    margin-right: 10px;
}
.library p{
    font-size: medium;
}
.plus1{
    margin-left: 200px;
    font-weight:lighter ;
    margin-top: px;
}
.plus1 i{
    margin-left: 5px;
}
.playlist-box{
    width: 410px;
    height: 135px;
    background-color: #1f1f1f;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 10px;
}
.playlist-box h3{
    color: #ffffff;
    padding: 10px;
    margin-left: 15px;
    margin-top: 5px;
}
.paragraph{
    color: #ffffff;
    margin-left: 28px;

}
.create-playlist{
    width: 130px;
    height: 33px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#create-playlist{
    width: 150px;
    height: 33px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-playlist p{
    font-weight:700;
    font-weight: bold;
}
.page{
    background-color: #121212;
    margin-top: 9%;
    margin-left: 29%;
    border-radius: 10px;  
}
.pageheader{
    top: 9%;
    position: fixed;
    width: 70%;
    height: 9%;
    background-color: #121212;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.all{
    color: #000000;
    width: 41px;
    height: 32px;
    background-color: #ffffff;
    margin-left: 40px;
    margin-top: 17px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.all p{
    margin-bottom: 2px;
}
.music{
    color: #ffffff;
    width: 55px;
    height: 32px;
    background-color: #FFFFFF1A;
    margin-left: 10px;
    margin-top: 17px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.music p{
    margin-bottom: 2px;
}
.podcasts{
    color: #ffffff;
    width: 80px;
    height: 32px;
    background-color: #FFFFFF1A;
    margin-left: 10px;
    margin-top: 17px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.podcasts p{
    margin-bottom: 2px;
}
.featured{
    color: white;
    display: flex;
}
.featured h2{
    color: #ffffff;
    margin-left: 45px;
    margin-top: 20px;
    font-weight: 700;
}
.featured p{
     color: #B3B3B3;
     margin-left: 770px;
     margin-top: 20px;
     font-weight: 700;
}
.card{
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    max-width: 100vw;
    width: 100%;
}
.top50{
    width: 179px;
    height: 236px;
    background-color: #121212;
    margin-left: 35px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 18px 0px 8px 17px;
    flex-shrink: 0; 
    scroll-snap-align: start;  
}
.top{
    width: 155px;
    height: 155px;
    background-color: #121212;
    border-radius: 5px;
}
.top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}
.top50 p{
    margin-left: 2px;
    margin-top: 9px;
    color: #B3B3B3;   
}
.top50 a{
    margin-left: 3px;
   margin-bottom: 50px;
   color: #B3B3B3; 
}
.foot-pannel2{
    background-color: #121212;
    color: white;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
}
ul{
    margin: 20px;
}
ul p{
    color: #ffffff;
}
ul a{
    color: #DDDDDD;
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #dddddd;
}
ul .insta{
    width: 200px;
    height: 200px;
    background-color: #121212;
}
.insta i{
    padding: 10px 10px 50px 30px;
    font-size: larger;
}
.footer{
    width: 100%;
    height: 12%;
    background-color: black;
   left: 0;
   bottom: 0;
   /* position: absolute; */
   position: fixed;
}
.icon1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 7px;
    color: #444444;
}
.icon1 i{
    padding: 15px;
    font-size: large;
}
.pause i{
    font-size: xx-large;
}
.musicline{
    width: 600px;
    height: 4px;
    color: white;
    background-color: #444444;
    margin-left: 455px;
    border-radius: 20px;
    border: none;
    outline: none;
}